*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Poppins', sans-serif;
  }
.porto{
    background-image: url("/portofolio/dnt.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px;
  position: relative;
}
h1{
  font-size: 190%;
  color: #ffffff;
  text-align: center;
  padding-top: 7%;
  width: 60%;
  margin-left: 20%;
}
h4{
  width: 57%;
 margin-left: 23%;
 margin-top: 1%;
 font-size: 100%;
 color: white;
}
.fvr{
  text-decoration: none;
  background-image: linear-gradient(45deg,#ff6347, #ffa07a);
margin-left: 42%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 8px;
  font-size: 22px;
  color: #cccccc;
  font-weight: 800;
}
.pro{
  margin-left: 42%;
  margin-top: 2%%;
  font-size: 22px;
  padding-top: 0;
}
.mega{
  width: 60%;
  margin-left: 23%;
  padding-top: 5px;
}
.manual{
  margin-left: 26%;
}
.suff{
  margin-left: 40%;
}
.dev{
  text-align: center;
  padding-top: 4px;
}
.ab{
font-size: 30px;
border-radius: 4px;
background-color: #cccccc;
border: 2px solid silver;
padding: 27px 18px;

}
.ba{
  font-size: 30px;
  border: 3px solid #ff0000;
  border-radius: 4px;
  padding: 27px 18px;
  color: #ff0000;
}
.ac{
  font-size: 30px;
  
border-radius: 4px;
background-color: #cccccc;
border: 2px solid silver;
padding: 27px 18px;
margin-top: 10%;
}
.ca{
  font-size: 30px;
  
border-radius: 4px;
background-color: #cccccc;
border: 2px solid #c0c0c0;
padding: 27px 18px;
margin-top: 10%;
}
.abc{
  font-size: 30px;
  
border-radius: 4px;
background-color: hsl(0, 0%, 80%);
border: 2px solid #c0c0c0;
padding: 27px 18px;
margin-top: 10%;
}
header{
 border: 5px solid #fffafa;
 border-radius: 7px;
 height: 300px;
  width: 100%;
  background-color:#fffafa;
margin: 100px 40px;
 }
 .better{
  margin-top: 10%;
  margin-left: 40%;
  padding: 15px 20px;
  width: 24%;
  border: 0;
  font-size: 20px;
 }
.jed{
background-image: linear-gradient(#ff6347,  #ffa07a);
border: 0;
padding: auto;
text-align: center;
text-transform: capitalize;
border-radius: 6px;
color: #fffafa;
text-decoration: none;
margin-left: 44%;




}


